.nav {
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-between;
  }
  
  #nav-link.active {
    color: #D0B717;
    display: flex;
    justify-content: end;
  }
  
  #nav-link {
    display: flex;
    justify-content: end;
    color: #ebdfcc;
  }
  
  @media (max-width: 589px) {
    .nav {
      flex-direction: column;
    }
  }