.header-parent {
  background: linear-gradient(#041e42, #5AB1BB);
  height: "20vh";
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  border-bottom: 3px solid #D0B717;
}

#header-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  font-variant: small-caps;
  background: linear-gradient(to right, #D0B717 0, #5AB1BB 10%, #D0B717 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 30s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}