.headerParent {
    background-color: #041e42;
    height: "20vh";
    display: flex;
    justify-content: space-between;
    padding: 2vw;
  }
  
  #header-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
    color: #FEF5EF;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #55565A; */
  }